!!! 5
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content='author of the site')
    title IndustryApp Template
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='stylesheets/toastr.css')
    link(rel='stylesheet', href='stylesheets/fullcalendar.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/jquery.knob.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='javascripts/jquery.sparkline.min.js')
    script(src='javascripts/toastr.js')
    script(src='javascripts/jquery.tablesorter.min.js')
    script(src='javascripts/jquery.peity.min.js')
    script(src='javascripts/fullcalendar.min.js')
    script(src='javascripts/gcal.js')
    script(src='javascripts/setup.js')
  body
    #in-nav
      .container
        .row
          .span12
            ul.pull-right
              li
                a(href='#') Link1
              li
                a(href='#') Link2
              li
                a(href='#') Link3
              li
                a(href='login.html') Login
            a#logo(href='index.html')
              h4
                | My
                strong Admin
    #in-sub-nav
      .container
        .row
          .span12
            ul
              li
                a(href='index.html')
                  i.batch.home
                  br
                  | Dashboard
              li
                span.label.label-important.pull-right 08
                a(href='stream.html')
                  i.batch.stream
                  br
                  | Stream
              li
                span.label.label-important.pull-right 04
                a(href='messages.html')
                  i.batch.plane
                  br
                  | Messages
              li
                a(href='calendar.html')
                  i.batch.calendar
                  br
                  | Calendar
              li
                a(href='paragraphs.html')
                  i.batch.quill
                  br
                  | Paragraphs
              li
                a(href='faq.html')
                  i.batch.forms
                  br
                  | FAQ
              li
                a(href='users.html')
                  i.batch.users
                  br
                  | Users
              li
                a.active(href='settings.html')
                  i.batch.settings
                  br
                  | Settings
    .page
      .page-container
        .container
          .row
            .span12.header
              h4 我的简历
            .span6
              form.form-horizontal
                .control-group
                  label.control-label(for='inputEmail') 应聘职位： 
                  .controls
                    input(type='checkbox', value='#')
                    | 开发工程师
                .control-group
                  label.control-label(for='inputCurrentPassword') Current Password 
                  .controls
                    input#inputCurrentPassword(type='password', placeholder='Current Password')
                .control-group
                  label.control-label(for='inputPassword') Password 
                  .controls
                    input#inputPassword(type='password', placeholder='Password')
                .control-group
                  label.control-label(for='inputPasswordAgain') Password Again
                  .controls
                    input#inputPasswordAgain(type='password', placeholder='Password Again')
                .control-group
                  .controls
                    button.btn(type='submit') Save Changes
            .span6
              p
                | If you want to change your email or password please remember to do these three things.
              ul
                li The first thing you should do is this
                li The second thing is probably this
                li There isn't actually a third thing
            .span12.settings-group
              h4.header Profile
            .span6
              form.form-horizontal
                .control-group
                  label.control-label(for='username') Username
                  .controls
                    input#username(type='text', placeholder='Username')
                .control-group
                  label.control-label(for='bio') Bio
                  .controls
                    textarea#bio
                .control-group
                  label.control-label(for='desc') Description
                  .controls
                    textarea#desc
                .control-group
                  label.control-label(for='admincode') Admin Code
                  .controls
                    input#admincode(type='text', placeholder='xxxxx')
                .control-group
                  label.control-label(for='phone') Phone
                  .controls
                    input#phone(type='text', placeholder='(xxx)-xxx-xxxx')
                .control-group
                  .controls
                    button.btn(type='submit') Save Changes
            .span6
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit lobortis
                | eros, quis convallis diam laoreet sit amet. Duis dapibus lacinia ornare. Class aptent
                | taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .span12.settings-group
              h4.header Other Accounts
            .span6
              form.form-horizontal
                .control-group
                  label.control-label(for='ga') Google Analytics
                  .controls
                    input#ga(type='text', placeholder='xxxxxxxxxxx')
                .control-group
                  label.control-label(for='twitter') Twitter 
                  .controls
                    input#twitter(type='text', placeholder='freelanceleague')
                .control-group
                  label.control-label(for='facebook') Facebook
                  .controls
                    input#facebook(type='text', placeholder='freelanceleague')
                .control-group
                  label.control-label(for='gp') Google+
                  .controls
                    input#gp(type='text', placeholder='freelanceleague')
                .control-group
                  label.control-label(for='pinterest') Pinterest 
                  .controls
                    input#pinterest(type='text')
                .control-group
                  label.control-label(for='dribbble') Dribbble
                  .controls
                    input#dribbble(type='text')
                .control-group
                  .controls
                    button.btn(type='submit') Save Changes
            .span6
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit lobortis
                | eros, quis convallis diam laoreet sit amet. Duis dapibus lacinia ornare. Class aptent
                | taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit lobortis
                | eros, quis convallis diam laoreet sit amet. Duis dapibus lacinia ornare. Class aptent
                | taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    footer
      .container
        .row
          .span12
            p.pull-right Admin Theme by Nathan Speller
            p © Copyright 2013 FreelanceLeague
  script(src='javascripts/d3-setup.js')
  script
    protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://'; address = protocol + window.location.host + window.location.pathname + '/ws'; socket = new WebSocket(address);
    socket.onmessage = function(msg) { msg.data == 'reload' && window.location.reload() }

